@import "../shared/styles";

.searchInput {
  align-items: center;
  background: $white;
  border-radius: $largeBorderRadius;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  height: 205px;
  justify-content: center;
  margin: 32px;
  position: absolute;
  top: 0;
  width: 283px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }

  input[type="text"],
  textarea {
    background: $inputColor;
    color: $inputFieldTextColor;
    font: $inputFieldText;
  }

  input {
    border: none;
    background: $inputColor;
    border-radius: $smallBorderRadius;
    -webkit-appearance: none;
    height: 32px;
    margin-left: 8px;
    max-width: 190px;
    padding-left: 10px;
    width: 190px;
  }

  button {
    background: $backgroundButtonGradient;
    border-radius: 4px;
    color: $white;
    font: $inputFieldText;
    height: 40px;
    margin: 8px 0 0 40px;
    max-width: 200px;
    width: 200px;
  }

  .badgeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px 0;

    span {
      text-align: center;
      width: 100%;
    }
  }
}
