@import "../shared/styles";
.job-container {
  bottom: 0;
  left: 0;
  margin-bottom: -60px;
  position: absolute;

  .job-created {
    align-items: center;
    background-color: $jobSuccessBackgroundColor;
    border-radius: $largeBorderRadius;
    box-shadow: $boxShadow;
    color: $white;
    display: flex;
    font: $inputFieldText;
    height: 32px;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    width: 283px;
  }
}
