.adzuna-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  h1 {
    margin: 35px 0;
  }

  .form-container {
    width: 50%;
  }

  .form-group {
    text-align: left;

    p {
      text-align: center;
    }
  }
  .form {
    margin: 20px;
  }

  .is-invalid {
    border-color: #dc3545;
  }
}
