.adzuna-form {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  .form-container {
    width: 50%;
  }

  .form {
    margin: 20px;
  }
}
