@import "../../src/shared/styles";

.calc-layout {
  font-size: $paragraph;
  margin: 20px;

  input {
    width: 70px;
  }
  .calc-inputs {
    margin: 0;
    max-width: 50%;

    tr:nth-of-type(odd) {
      background-color: #fff;
    }
  }
}

.calc-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.calculate-button {
  margin: 10px 0;

  button {
    border-radius: 25%;
  }
}

.calc {
  max-width: 45%;
  text-align: center;
}

.bl-calc {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.rcf-calc {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

@media screen and (min-width: $mobile) {
  .calc-layout .calc-inputs {
    margin: auto;
  }
  .table-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .rcf-calc {
    margin-right: 10px;
  }
  .bl-calc {
    margin-left: 10px;
  }
}
