//colors
$white: #fff;
$buttonColor: rgb(16, 162, 234);
$creatingButtonColor: rgba(16, 162, 234, 0.5);
$inputColor: #f0f3f7;
$inputFieldTextColor: #8596a6;
$jobSuccessBackgroundColor: rgba(51, 51, 51, 0.9);
// $background: rgb(16,162,234);
$backgroundButtonGradient: linear-gradient(
  90deg,
  rgba(16, 162, 234, 1) 0%,
  rgba(15, 153, 232, 1) 35%
);
$backgroundButtonGradientCreating: linear-gradient(
  90deg,
  rgba(16, 162, 234, 0.5) 0%,
  rgba(15, 153, 232, 0.5) 35%
);

//box
$boxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
$largeBorderRadius: 8px;
$smallBorderRadius: 4px;

// fonts
$inputFieldText: 16px Roboto, sans-serif;

// fonts
$header: 300 25px/34px Avenir;
