.SideBar {
  background: #607d8b;
  height: 100%;
  color: white;
  font-size: 16px;

  h3 {
    font-size: 16px;
    margin: 29px 28px;
  }

  .toggleContainer {
    margin-left: 17px;
  }

  .active-team {
    width: 233px;
    height: 54px;
    background: #b0bec5;
    border-radius: 28px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .circle {
      position: absolute;
      width: 40px;
      height: 40px;
      background: #eceff1;
      border-radius: 50%;
      margin-left: 9px;
    }

    h3 {
      color: white;
      margin-left: 55px;
      font-size: 18px;
    }
  }

  .inactive-team {
    width: 193px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 23px;

    .inactive-circle {
      width: 40px;
      height: 40px;
      background: #eceff1;
      border-radius: 50%;
      margin-left: 9px;
    }

    h3 {
      color: white;
      margin: auto;
      font-size: 18px;
    }
  }
}
